// Color variables
$primary-color: #F77062;
$secondary-color: #878787;
$box-shadow: rgba(0,0,0,0.20);

// Spacing variable
$spacing: 4px;

// Common variables
$background-gradient: linear-gradient(45deg, #F77062 0%, #FE5196 100%);
$transition-duration: .5s;
