@import 'src/styles/variables.scss';

.user-profile {
  margin-bottom: $spacing * 4;

  &__summary {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: $spacing * 6;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-bottom: $spacing * 2;
    font-size: $font-subtitle1;
    color: $primary-color;
  }

  &__dob {
    color: $secondary-color;
    margin-left: $spacing * 2;
    margin-right: 0;
  }

  &__location {
    font-size: $font-caption;
    color: $secondary-color;
  }

  &__details {
    width: 100%;
    display: flex;
    background-image: $background-gradient;
    box-shadow: inset 0px 10px 18px 0px $box-shadow;
  }


  .details-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacing * 4;
    align-items: center;
    color: #FFFFFF;

    &__label {
      margin-bottom: $spacing * 2;
      font-size: $font-subtitle2;
    }

    &__content {
      font-size: $font-caption;
      word-break: break-word;
      text-align: center;
    }
  }
}
